body{
    text-align: center;
    background-color: #f0e8c5;
}
div{
    margin-top: 15px;
}
.imagesection{
    display: flex;
    justify-content: center;
}
.imagesection{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
.photosection{
     margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
.profile {
    margin-bottom: 50px;
    width:150px;
    height:150px;
}
